h1{
 font-size:35px;
 font-family:"Arial";
}


h2{
font-family:"Arial";
}

h4 {
font-family:"Arial";
text-align: center;
}

h5{
font-family:"Arial";
}
p {
  font-family:"Arial";
}

body {
  margin:0;
}

header {
  background-color:#8A9A58;
  color: white;
  font-weight: bold;
  padding: 2px;
  padding-bottom: 20px;
  height: 50px;
  postion: fixed;
  
}

.nav {
  background-color:#A1B98A;
  padding: 5px;
 
}



.nav ul {
  list-style-type: none;
  padding: 0px;
  margin-top:10px;
  margin-bottom:2px;
  overflow: hidden;
  display: inline-block;

}

.nav li {
  float: left;
  font-size: 20px;
  margin-inline: 40px;
}

.nav li a{
  dispaly: block;
  text-align: center;
  padding: 3px;
  text-decoration: none;
  color:black ;
}  

.nav button {
  margin-left:900px;
}